*{
	margin: 0;
	padding: 0;
}

body , html {
	background: url(../image/gradient.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6; 
	margin:0;
	padding: 0;
	background-color:rgba(70, 71, 71, 0.8);
	color:#4C90AE;
}

/* Showcase */

.showcase{
	height: 100vh;
	background: url(../image/mars1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}

.mainHeader{
	height: 30vh;
	display: grid;
	justify-items: center;
	align-content: center;
	grid-template-columns: 1fr;
	padding-top: 35vh;
	
}

.title{
	font-size: 3em;
	font-weight: bolder;
}

h1{
	color: white;
	background: url(../image/space3.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

/* Details Area */

.details{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
	margin: 50px 20px;
}

.card{
	border-radius: 10px;
	box-shadow: 3px 3px 10px #91e8fb;
	box-shadow:inset 0 0 20px #4C90AE,
	0 8px 6px -6px #91e8fb;
}

.mars{
	background-image: url(../image/mars.jpg);
	background-size: cover;
	background-position: center;
	opacity: 0.9;
	height:80vh;
	width: 30vw;
}

.earth{
	background-image: url(../image/earth.jpg);
	background-size: cover;
	background-position: center;
	opacity: 0.9;
	height:80vh;
	width: 30vw;
}

@media (max-width:850px){
	.details{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px;
		margin: 50px 20px;
	}

	.mars{
		background-image: url(../image/mars.jpg);
		background-size: cover;
		background-position: center;
		opacity: 0.9;
		height:50vh;
		width:100%;
	}
	
	.earth{
		background-image: url(../image/earth.jpg);
		background-size: cover;
		background-position: center;
		opacity: 0.9;
		height:50vh;
		width:100%;
	}

}