*{
	margin: 0;
	padding: 0;
}

body , html {
	background: url(../image/background1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6; 
	letter-spacing: 1.2;
	margin:0;
	padding: 0;
	background-color:rgba(70, 71, 71, 0.8);
	color:#4C90AE;
}

/* Showcase */

.showcase{
	height: 100vh;
	background: url(../image/Mars1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: drop-shadow(3px 3px 10px #91e8fb);
}

/* Header */
.mainHeader{
	height: 30vh;
	display: grid;
	align-content: center;
	grid-template-columns: 1fr 1fr;
}

.title{
	display: grid;
 justify-items: start;
 margin-top: 80vh;
 padding-left: 40px;
}

.sdetails{
	display: grid;
	justify-items: end;
	align-content: center;
	margin-top: 80vh;
	padding-right: 30px;
}

.sdetails p, h2{
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	background: url(../image/bluespace.jpg) no-repeat;
	background-position: left;
	background-size: cover;
	background-attachment: fixed;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1{
	color: white;
	background: url(../image/bluespace.jpg) no-repeat;
	background-position: left;
	background-size: cover;
	background-attachment: fixed;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 8em;
	font-weight: bolder;
}

/* Details Area */

.details{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	margin: 150px 20px 0 20px;
	grid-template-areas: "mars rocket earth";
}

.card{
	border-radius: 10px;
	filter: drop-shadow(3px 3px 10px #91e8fb);
	min-width: 300px;
	display: grid;
	justify-items: center;
}

.card p{
	margin-top: 15%;
	margin-right: 10%;
	margin-left: 10%;
	color: #f4f4f4;
	font-size: 1.2em;
}

.mars{
	background-image: url(../image/mars.jpg);
	background-size: cover;
	background-position: center;
	opacity: 0.9;
	height:80vh;
	width: 30vw;
	grid-area: mars;
}

.earth{
	background-image: url(../image/earth.jpg);
	background-size: cover;
	background-position: center;
	opacity: 0.9;
	height:80vh;
	width: 30vw;
	grid-area: earth;
}

@media(max-width: 700px){
	.details{
			display: grid;
			grid-auto-rows: minmax(100px, auto);
			grid-template-columns: 1fr;
			grid-template-areas: 
				"mars"
				"earth"
				"rocket";
	}

	.mars{
		height: 80vh;
		width: auto;
	}

	.earth{
		height: 80vh;
		width: auto;
	}
}

/* Form */

 input{
	opacity: 0.7;
	width: 100;
}

 input:focus{
	border: none;
	opacity: 1;
}

label{
	color:#f4f4f4;
	font-size: 1.1em;
}

.button-1{
	color: #f4f4f4;
	background: url(../image/bluespace.jpg) no-repeat;
	border:none;
	border-radius: 10px;
	padding: 5px 20px;
}


/* Rocket */

.rocket{
	position: relative;
	grid-area: rocket;
}

.rocket img{
	width: 100%;
	position: relative;
	margin-top: 30%;
	animation-name: RocketTakesOFF;
	animation-duration: 0.3s;
	animation-timing-function:linear;
	animation-iteration-count: infinite;
}

@keyframes RocketTakesOFF {
	0%   { left:0px; top:0px;}
	10%  { left:0.5px; top:0px;}
	20%  { left:1px; top:0px;}
	30%  { left:1.5px; top:0px;}
	40%  { left:1px; top:0px;}
	50%  { left:0px; top:0px;}
	60%  { left:0px; top:0px;}
	70%  { left:1px; top:0px;}
	80%  { left:1.5px; top:0px;}
	90%  { left:0.5px; top:0px;}
	100% { left:1px; top:0px;}
}

#countdown{
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #f4f4f4;
}

#countdown1{
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #f4f4f4;
}


/* Smoke animation */

.smoke{
	position: absolute;
	top: 102%;
	right: 57.5%;
	transform:translateX(-50%);
	margin: 0;
	padding: 0;
}

.smoke li{
	position:absolute;
	list-style-type: none;
	width: 15px;
	height: 15px;
	background-color: #fff;
	border-radius: 50%;
}

/* Defining animations */

li:nth-child(1){
	animation: Smoke1 0.15s linear infinite;
}

li:nth-child(2){
	animation: Smoke2 0.15s linear infinite;
}

li:nth-child(3){
	animation: Smoke3 0.15s linear infinite;
}

li:nth-child(4){
	animation: Smoke4 0.15s linear infinite;
}

li:nth-child(5){
	animation: Smoke5 0.15s linear infinite;
}

li:nth-child(6){
	animation: Smoke6 0.15s linear infinite;
}

li:nth-child(7){
	animation: Smoke7 0.15s linear infinite;
}

/* Animations */

@keyframes Smoke1{
	0%{ transform: translate(-50px,0) scale(1.5);
		opacity:1;
		filter: blur(5px);
	}
	50%{ transform: translate(-50px,0) scale(2);
		opacity:1;
		filter: blur(5px);
	}
	100%{transform:translate(-90px, 300px) scale(3);
	opacity:0.9;
	filter:blur(10px);
	}
}

@keyframes Smoke2{
	0%{ transform: translate(-30px,0) scale(1.5);
		opacity:1;
		filter: blur(5px);
	}
	50%{ transform: translate(-30px,0) scale(2);
		opacity:1;
		filter: blur(5px);
	}
	100%{transform:translate(-50px, 300px) scale(3);
	opacity:0.9;
	filter:blur(10px);
	}
}

@keyframes Smoke3{
	0%{ transform: translate(-20px,0) scale(1.5);
		opacity:1;
		filter: blur(5px);
	}
	50%{ transform: translate(-20px,0) scale(2);
		opacity:1;
		filter: blur(5px);
	}
	100%{transform:translate(-20px, 300px) scale(3);
	opacity:0.9;
	filter:blur(10px);
	}
}

@keyframes Smoke4{
	0%{ transform: translate(15px,0) scale(3);
		opacity:1;
		filter: blur(5px);
	}
	50%{ transform: translate(15px,0) scale(5);
		opacity:1;
		filter: blur(5px);
	}
	100%{transform:translate(20px, 300px) scale(7);
	opacity:0.9;
	filter:blur(10px);
	}
}

@keyframes Smoke5{
	0%{ transform: translate(40px,0) scale(1.5);
		opacity:1;
		filter: blur(5px);
	}
	50%{ transform: translate(40px,0) scale(2);
		opacity:1;
		filter: blur(5px);
	}
	100%{transform:translate(60px, 300px) scale(3);
	opacity:0.9;
	filter:blur(10px);
	}
}

@keyframes Smoke6{
	0%{ transform: translate(65px,0) scale(1.5);
		opacity:1;
		filter: blur(5px);
	}
	50%{ transform: translate(65px,0) scale(2);
		opacity:1;
		filter: blur(5px);
	}
	100%{transform:translate(100px, 300px) scale(3);
	opacity:0.9;
	filter:blur(10px);
	}
}

@keyframes Smoke7{
	0%{ transform: translate(85px,0) scale(1.5);
		opacity:1;
		filter: blur(5px);
	}
	50%{ transform: translate(85px,0) scale(2);
		opacity:1;
		filter: blur(5px);
	}
	100%{transform:translate(150px, 300px) scale(3);
	opacity:0.9;
	filter:blur(10px);
	}
}

/* Animations End */

/* Social Media */

.social{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(30px, 50px));
	grid-gap: 5px;
	justify-content: center;
	margin-top: 50px;
}

.social a{
	text-decoration: none;
}

.facebook a:hover{color:#3b5998;}
.twitter a:hover{color:#1dcaff;}
.linkedin a:hover{color:#0077b5;}
.youtube a:hover{color:red;}
